@import './tokens.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: var(--font-sans);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-white text-vsg-neutral-900 dark:bg-vsg-neutral-900 dark:text-vsg-neutral-50;
    }
}
