# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
build/
*.log

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# null files
*nul

# dev Images
image_errors/
